<!DOCTYPE html>
<html>
<head>
	<title>MEMEr</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	
	<!-- my css -->
	<link rel="stylesheet" type="text/css" href="../public/css/styles.css">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!-- app.js file -->

<script src="./js/app.js"></script>

<!-- function to get image from mashape API -->
<script>
	function doIt() {
		// event.preventDefault();
		console.log("doIt works")
		var title = document.getElementById('title').value;
		var topText = document.getElementById('topText').value;
		var bottomText = document.getElementById('bottomText').value;
		var image = document.getElementById('img').value;
		console.log(title);
		console.log(topText);
		console.log(bottomText);
		console.log(image);
	};
</script>

</head>

<% include ./partials/header.ejs %>

<body>

	<div class="container-fluid">
		<div class="container">
			<div class="page-header">
				<h1>Memes! <small>Get some here</small></h1>
			</div>
		</div>
	<!-- Begin input field -->
	<section id="meme" class='container'>
		<div class="container">
			<form class="row">
			  <div class="form-group col-sm-7 col-md-7">
			    <input type="text" class="form-control" id="title" placeholder="Title">
			  </div>
			  <div class="form-group col-sm-7 col-md-7">
			    <input type="text" class="form-control" id="topText" placeholder="Top Text">
			  </div>
			  <div class="form-group col-sm-7 col-md-7">
			    <input type="text" class="form-control" id="bottomText" placeholder="Bottom Text">
			  </div>
			  <!-- start dropdown -->
			  <div class="form-group col-sm-7 col-md-7">
			    <label for="img">Image</label>
			    <select class="form-control" id="img">
			      <option>2nd Term Obama</option>
			      <option>Aaaaand Its Gone</option>
			      <option>Ace Primo</option>
			      <option>Admiral Ackbar Relationship Expert</option>
			      <option>Advice Dog</option>
			      <option>Crazy Hispanic Man</option>
			      <option>Disaster Girl</option>
			      <option>Gollum</option>
			    </select>
		   	   </div>

			  <!-- add type="submit" to this button!!!!!!!-->
			  <div class="col-sm-7 col-md-7">
			 	<button id="generate-meme" type="button" class="btn btn-default" onclick="doIt()">Generate Meme</button>
			  </div>
			</form>
		</div>
	</section>
	<div id="image-div"></div>

	<!-- **HELLO WORLD** -->

	<!-- <img src="https://ronreiter-meme-generator.p.mashape.com/meme?bottom=Bottom+text&font=Impact&font_size=50&meme=Condescending+Wonka&top=Top+text&mashape-key=75YmJBAs6kmshPHOtokBTccTVQYYp1h379tjsnh2ftavbqSb5g">
	</div> -->

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>