<!DOCTYPE html>
<html>
<head>
	<title>MEMEr</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	
	<!-- my css -->
	<link rel="stylesheet" type="text/css" href="../public/css/styles.css">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!-- app.js file -->

<script src="app.js"></script>

<!-- function to get image from mashape API -->
<script>
	function doIt() {
		// get form field info
		console.log("doIt works")
		var title = document.getElementById('title').value;
		var topText = document.getElementById('topText').value;
		var bottomText = document.getElementById('bottomText').value;
		var image = document.getElementById('img').value;
		var encodedImg = encodeURI(image);
		console.log(encodedImg);
		// create an image element and set attributes
		var newMeme = document.createElement('img');
		// newMeme.setAttribute('src', "https://ronreiter-meme-generator.p.mashape.com/meme?bottom="+encodeURI(bottomText)+"&font=Impact&font_size=50&meme="+encodeURI(image)+"&top="+encodeURI(topText)+"&mashape-key=75YmJBAs6kmshPHOtokBTccTVQYYp1h379tjsnh2ftavbqSb5g")

		// simpler, with no key
		newMeme.setAttribute('src', "http://apimeme.com/meme?meme="+encodeURI(image)+"&top="+encodeURI(topText)+"&bottom="+encodeURI(bottomText))
		var imageDiv=document.getElementById('image-div');
		var titleImage=document.getElementById('meme-title');
		titleImage.innerHTML=title;
		imageDiv.appendChild(newMeme);
		document.getElementById('save-button').style.display = "block";
		document.getElementById('refresh').style.display = "block";
	};
	function saveIt(){

	}
</script>
</head>

<!-- include the header -->
<% include ./partials/header.ejs %>

<body>
	<div class="container-fluid nopadding">
		<div class="container nopadding">
			<div class="page-header nomargin">
				<h1 class="orange indie">Memes! <small>Get some here</small></h1>
			</div>
		</div>
	<!-- Begin input field -->
	<section id="meme" class='container'>
		<div class="container">
			<form class="row">
			  <div class="form-group col-sm-7 col-md-7">
			    <input type="text" class="form-control" id="title" placeholder="Title">
			  </div>
			  <div class="form-group col-sm-7 col-md-7">
			    <input type="text" class="form-control" id="topText" placeholder="Top Text">
			  </div>
			  <div class="form-group col-sm-7 col-md-7">
			    <input type="text" class="form-control" id="bottomText" placeholder="Bottom Text">
			  </div>
			  <!-- start dropdown -->
			  <div class="form-group col-sm-7 col-md-7">
			    <label for="img">Image</label>
			    <select class="form-control" id="img">
			      <option>2nd Term Obama</option>
			      <option>Aaaaand Its Gone</option>
			      <option>Ace Primo</option>
			      <option>Admiral Ackbar Relationship Expert</option>
			      <option>Advice Dog</option>
			      <option>Aint Nobody Got Time For That</option>
			      <option>Alan Greenspan</option>
			      <option>Am I The Only One Around Here</option>
			      <option>And everybody loses their minds</option>
			      <option>Angry Asian</option>
			      <option>Angry Chef Gordon Ramsay</option>
			      <option>Angry Toddler</option>
			      <option>Baby Godfather</option>
			      <option>Back In My Day</option>
			      <option>Bad Luck Brian</option>
			      <option>Batman Slapping Robin</option>
			      <option>Bear Grylls</option>
			      <option>Bill Murray Golf</option>
			      <option>Bonobo Lyfe</option>
			      <option>Captain Hindsight</option>
			      <option>Captain Picard Facepalm</option>
			      <option>Charlie Sheen Derp</option>
			      <option>Chemistry Cat</option>
			      <option>College Liberal</option>
			      <option>Confused Mel Gibson</option>
			      <option>Conspiracy Keanu</option>
			      <option>Crazy Hispanic Man</option>
			      <option>Dat Ass</option>
			      <option>Disaster Girl</option>
			      <option>Do I Care Doe</option>
			      <option>Eighties Teen</option>
			      <option>Fake Hurricane Guy</option>
			      <option>First Day On The Internet Kid</option>
			      <option>First World Stoner Problems</option>
			      <option>Gollum</option>

			    </select>
		   	   </div>

			  <!-- add type="submit" to this button??-->
			  <div class="col-sm-7 col-md-7">
			 	<button id="generate-meme" type="button" class="btn btn-default" onclick="doIt()">Generate Meme</button>
			  </div>
			</form>
		</div>
	</section>
	<!-- contains appended image with title and text -->
	<form class="meme-generator" id="save-form">
		<section class="meme-container">
			<div class="container indie orange big-bold" id="title-container">
				<h1 id="meme-title"></h1>
			</div>
			<div class="meme-container container">
				<div id="image-div"></div>
			</div>
			</section>
			<section class="save-button container">
			<div class="container">
				<button id="save-button" type="button" class="btn btn-default" style="display:none">Save This Meme!</button>
				<button id="refresh" type="button" class="btn btn-default" style="display:none" onClick="window.location.reload()">New Meme Please</button>
			</div>
		</section>
	</form>

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>