<% include ./partials/header.ejs %>
<
<div class="col-sm-8 col-md-8 centered background">
	<div class="row centered">
		<h1 class="indie big-bold orange">Welcome!!</h1>
		<h3 class="indie mid">Login or Signup to start Meme'n</h4>
		<h6 class="indie small">(If you can't get a meme to show up, don't even worry bout it, don't even think twice...) </h5>
	</div>
</div>

<% include ./partials/footer.ejs %>