<!DOCTYPE html>
<html>
<head>
	<title>Sample Project</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="/public/css/styles.css">
</head>
<body>
	<div class="container-fluid" id="landing-main">
		<div class="container">
			<div class="page-header">
				<h2>Yoda Memer</h2>
			</div>
		</div>
			<!-- Signup Button trigger modal -->
		<div class="container btn-container">
			<button type="button" class="btn btn-primary btn-lg sign-up" data-toggle="modal" data-target="#myModal">
		  Sign up!
			</button>
		</div>
		<br/>
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		     <!--  <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
		      </div> -->
		      <div class="modal-body">
		      	<div class="span3 well">
      				<legend>New to Yoda Memer? Sign up!</legend>
				    <form accept-charset="UTF-8" action="" method="post">
						<input class="span3" name="name" placeholder="Full Name" type="text"> 
				        <input class="span3" name="username" placeholder="Username" type="text">
				        <input class="span3" name="password" placeholder="Password" type="password"> 
				        <button class="btn btn-warning" type="submit">Done</button>
				    </form>
				</div>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- login here -->
		<div class="container login">
			<form class="row login">
				  <form id="signin" class="navbar-form navbar-right" role="form">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="email" type="email" class="form-control" name="email" value="" placeholder="Email Address">                                        
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="password" type="password" class="form-control" name="password" value="" placeholder="Password">                                        
                        </div>
						<br/>
                        <button type="submit" class="btn btn-primary">Login</button>
                   </form>
		</div>

<br/>
		<!-- bottom text -->
		<div class="container">
			<div class="col-md-12 text-block">
			Activated charcoal pok pok echo park, hammock pork belly cliche tofu 8-bit art party slow-carb readymade distillery sustainable biodiesel taxidermy. Meditation viral unicorn hammock, organic live-edge glossier salvia art party master cleanse. Meggings literally gluten-free, beard trust fund letterpress 3 wolf moon taxidermy gastropub raw denim.
			</div>
		</div>
	</div>

	<!-- jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>